<h2><%= @product.name %></h2>
<div  class="product_form">
    <p>Supplier: <%= @product.supplier_id %></p>
    <p>Category: <%= @product.category_id %></p>
    <p>Unit type: <%= @product.unit_type %></p>
    <p>Stock Level: <%= @product.stock_level() %></p>
    <p>Buying Cost: <%= @product.buying_cost %></p>
    <p>Selling Price: <%= @product.selling_price %></p>
    <p>Description: <%= @product.description %></p>
  <div class="add_new edit">
    <button>
      <a href="/products/<%= @product.id %>/edit">Edit</a>
    </button>
  </div>
</div>
<div class="go_back add">
  <a href="/products"><i class="fas fa-arrow-left"></i></a>
</div>
