<h2>Products</h2>
  <div>
   <p>
     <form action="/products/supplier" method="GET">
      <label for="show">show:</label>
        <select name="supplier_id" id="show">
          <option value="by_supplier">Show all</option>
          <% @suppliers.each do |supplier| %>
            <option value=<%= supplier.id %>><%= supplier.name %></option>
          <% end %>
          <input type="submit" value="select" />
        </form>
      </select>
   </p>
  </div>

  <table align="center" class="table">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Supplier</th>
      <th>Units</th>
      <th>Min Units Required</th>
      <th>Buying cost</th>
      <th>Selling Price</th>
      <th>Description</th>
      <th>Stock Level</th>
    </tr>
    <% for product in @products %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.category%></td>
      <td><%= product.supplier %></td>
      <td><%= product.unit %></td>
      <td><%= product.min_units_required %></td>
      <td><%= product.buying_cost %></td>
      <td><%= product.selling_price%></td>
      <td><%= product.description %></td>
      <td><%= product.stock_level %></td>
      <td>
      <form action="/products/<%= product.id %>" method="GET">
        <input type="submit" value="select" />
      </form>
      <form action="/products/<%= product.id %>/edit" method="GET">
        <input type="submit" value="edit" />
      </form>
      <form action="/products/<%= product.id %>/delete" method="POST">
        <input type="submit" value="delete" />
      </form>
    </td>
  </tr>
  <% end %>
</table>

<div class="add_new">
  <button>
    <a href="/products/new">Add new product</a>
  </button>
</div>
