<h2>Products</h2>
  <div class="sort_button">
     <form action="/products/supplier" method="GET">
        <select name="supplier_id" id="show">
        <!-- <option value="show_all">Show all</option> -->
          <% @suppliers.each do |supplier| %>
            <option value=<%= supplier.id %>><%= supplier.name %></option>
          <% end %>
          <input type="submit" value="select" />
        </select>
    </form>
  </div>

  <table align="center" class="table">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Supplier</th>
      <th>Units</th>
      <th>Unit Type</th>
      <th>Min Units Required</th>
      <th>Buying cost</th>
      <th>Selling Price</th>
      <th>Description</th>
      <th>Stock Level</th>
      <th></th>
    </tr>
    <% for product in @products %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.category%></td>
      <td><%= product.supplier %></td>
      <td><%= product.unit %></td>
      <td><%= product.unit_type %></td>
      <td><%= product.min_units_required %></td>
      <td><%= product.buying_cost %></td>
      <td><%= product.selling_price%></td>
      <td><%= product.description %></td>
      <div class="stock_level">
        <td id="<%=product.stock_level.split.join('_')%>"><%= product.stock_level %></td>
      </div>
      <td>
      <form action="/products/<%= product.id %>" method="GET">
        <input type="submit" value="select" />
      </form>
      <form action="/products/<%= product.id %>/edit" method="GET">
        <input type="submit" value="edit" />
      </form>
      <form action="/products/<%= product.id %>/delete" method="POST">
        <input type="submit" value="delete" />
      </form>
    </td>
  </tr>
  <% end %>
</table>

<div align="center" class="add_new">
  <button>
    <a href="/products/new">Add new product</a>
  </button>
</div>
<div class="go_back">
  <a href="/products"><i class="fas fa-arrow-left"></i></a>
</div>
